#info_services .InfoBanner_Image_container {
  /* background-color: #ececec; */
  background-color: transparent;
}
#info_services .InfoBanner_Image_container img {
  /* background-color: #ececec; */
  padding: 15px;
  width: 100%;
  max-height: 350px;
  max-width: 500px;
  margin: 0 auto;
}
#info_services .multi_sections_container {
  display: none;
}
.Cloud_infrastructure_page
  #info_services
  .multi_sections_container.CloudTransformation_info_container,
.Technology_page
  #info_services
  .multi_sections_container.technology_info_container,
.Social_commerce_page
  #info_services
  .multi_sections_container.social_commerce_info_container,
.Strategy_roadmap_page
  #info_services
  .multi_sections_container.Strategy_roadmap_info_container,
.Microservice_mesh_page
  #info_services
  .multi_sections_container.Microservice_mesh_info_container,
.Dr_Commerce_page
  #info_services
  .multi_sections_container.Dr_Commerce_info_container {
  display: block;
}
.boxFill a {
  width: 20%;
  margin: 10px;
}
.boxFill button {
  min-width: 100%;
}

@media only screen and (min-width: 992px) {
  #info_services .info_order_change {
    order: 2;
  }
}

@media only screen and (max-width: 575px) {
  #info_services .InfoBanner_Image_container {
    padding: 15px;
  }
}
