.container.cta_size_container {
    background-color: #0d70b6;
    background-image: linear-gradient(to right, #06324e , #0d70b6);
}

.container.cta_size_container button {
    background-color: #fff;
    color: #000;
}
.container.cta_size_container button:hover {
    background-color: #73c2c2;
    color: #fff;
}

.Cta_container {
    color: #fff;
    justify-content: center;
    align-items: center;
    padding: 30px 8px;
    display: none;
    max-width: 1170px;
    margin: 0 auto;
}
.Cta_container div {
    text-align: center;
}
.B2b_page .Cta_container.cta_B2b_page,
.B2c_page .Cta_container.cta_B2c_page,
.automation_ai_page .cta_automation_ai_page,
.Cloud_infrastructure_page .cta_cloudTransform_page {
    display: flex;
}