.container.cta_size_container {
    background-color: #0d70b6;
    background-image: linear-gradient(to right, #06324e , #0d70b6);
}

.container.cta_size_container button {
    background-color: #fff;
}
.container.cta_size_container button .btn-text {
    color: #000;
}
.container.cta_size_container button:hover {
    background-color: #73c2c2;
}
.container.cta_size_container button:hover .btn-text {
    color: #fff;
}

.Cta_container {
    color: #fff;
    justify-content: center;
    align-items: center;
    padding: 30px 8px;
    display: none;
    max-width: 1170px;
    margin: 0 auto;
}
.Cta_container div {
    text-align: center;
}
.Cta_container p {
    font-size: 20px !important;
}

.Home_page .Cta_container.cta_Home_page,
.B2b_page .Cta_container.cta_B2b_page,
.B2c_page .Cta_container.cta_B2c_page,
.Automation_ai_page .cta_automation_ai_page,
.Cloud_infrastructure_page .cta_cloudTransform_page,
.Omnichannel_page .cta_omnichannel_page,
.Headless_commerce_page .cta_headless_commerce_page,
.Social_commerce_page .cta_social_commerce_page, 
.Order_Management_page .cta_order_management_page,
.Technology_page .cta_order_management_page,
.IOT_blockchain_page .iot_blockchain_page,
.Digital_experience_page .cta_digital_experience_page {
    display: flex;
}

@media only screen and (max-width: 575px) {
    .Cta_container p  {
        font-size: 18px !important;
    }
}