#info_solutions {
    /* padding-top: 55px; */
}
#info_solutions .Solutions_Image_container {
    /* background-color: #ececec; */
    background-color: transparent;
}
#info_solutions .Solutions_Image_container img {
    /* background-color: #ececec; */
    padding: 15px;
    width: 100%;;
    max-width: 350px;
    margin: 0 auto;
}
#info_solutions .multi_sections_container {
    display: none;
}
.B2c_page #info_solutions .multi_sections_container.B2c_info_container,
.B2b_page #info_solutions .multi_sections_container.B2b_info_container,
.Automation_ai_page #info_solutions .multi_sections_container.automation_ai_info_container,
.Omnichannel_page #info_solutions .multi_sections_container.omnichannel_info_container,
.Headless_commerce_page #info_solutions .multi_sections_container.headless_commerce_info_container {
    display: block;
}

@media only screen and (min-width: 992px) {
    #info_solutions .info_order_change {
        order: 2;
    }   
}

@media only screen and (max-width: 575px) {
    #info_solutions .Solutions_Image_container {
        padding: 15px;
    }   
}