#stats_section {
  background-color: #150b47;
}
section.dark {
  background: #150b47;
  color: white;
}
.circles .cols {
  display: flex;
  justify-content: space-around;
}
.circles .cols > div {
  flex: 1 0 auto;
  -ms-flex: 1 0 auto;
  -webkit-flex: 1 0 auto;
  display: flex;
  display: -webkit-flex;
  align-items: center;
  -webkit-align-items: center;
  width: 250px;
  max-width: 250px;
  height: 250px;
  border-radius: 50%;
  border: 2px solid;
  text-align: center;
  vertical-align: top;
  background-color: transparent;
}
.circles .cols > div div {
  margin: auto;
}
.circles .cols > div span {
  font-size: 70px;
  line-height: 1em;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
}
.circles .cols > div p {
  font-size: 14px;
  line-height: 1.29em;
  width: 160px;
  margin: auto;
  margin-top: 10px;
}
.circles .cols > div:nth-child(1) {
  border-color: #47ea94;
}
.circles .cols > div:nth-child(2) {
  border-color: #684def;
}
.circles .cols > div:nth-child(3) {
  border-color: #ffa811;
}

@media only screen and (max-width: 991px) {
  .circles .cols > div {
    width: 180px;
    max-width: 180px;
    height: 180px;
  }
  .circles .cols > div span {
    font-size: 40px;
  }
}
@media only screen and (max-width: 575px) {
  .circles .cols > div {
    width: 240px;
    max-width: 240px;
    height: 240px;
  }
  .circles .cols > div span {
    font-size: 40px;
  }
  .stats_col {
    margin-bottom: 25px !important;
  }
  .empty_space40 {
    height: 20px !important;
  }
}
