#contact_section .contact_location_list li {
  width: 30%;
}

#contact_section .ContactMap_container_col,
#contact_section .ContactMap_container_col2 {
  width: 100%;
}

#contact_section .contactmap_col,
#contact_section .contact_col2 {
  width: 49%;
}

#contact_section .contactmap_col h2 {
  display: none;
}
